snippet pp
	import pprint; pprint.pprint(${1})
snippet lpp
	import pprint; LOG.warning('${1:<statement>} = ' + pprint.pformat($1))
snippet lg
	import logging
	
	logger = logging.getLogger(__name__)
	
	
